/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: 'Bebas Neue', sans-serif;

  background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('fundo.png') no-repeat center;

  background-size: cover;

  color: white;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

/* HEADER */
header {
  position: relative;
  padding: 40px 20px;
  text-align: center;
}

/* LOGO */
.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.logo img {
  width: 100px;
}

/* TÍTULO */
.titulo img {
  width: 250px;
}

.subtitulo {
  margin-top: 10px;
  font-size: 16px;
  color: #ccc;
}

/* BOTÃO */
.btn {
  margin-top: 15px;
  display: inline-block;
  background: #ff3c00;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #ff5a1f;
  transform: scale(1.05);
}

/* MENU */
.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  background: #4a2412;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgba(0,0,0,0.7);
}

/* IMAGEM */
.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

/* TEXTO */
.card h2 {
  font-size: 22px;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #ddd;
}

/* PREÇO */
.price {
  background: #ff3c00;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  font-size: 16px;
}

/* RODAPÉ */
footer {
  background: rgba(0,0,0,0.8);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 2px solid #ff3c00;
}

footer p {
  margin: 4px 0;
  font-size: 14px;
}

/* RESPONSIVO */
@media (max-width: 768px) {

  .logo {
    position: static;
    margin-bottom: 10px;
  }

  .titulo img {
    width: 200px;
  }

  .menu {
    grid-template-columns: 1fr;
  }
}
